<div class="container" style="margin-left: 30%">
	<h1>Editing Profile</h1>
</div>
	<%= render 'form', profile: @profile %>
<div class="container" style="margin-left: 10%">
	<%= link_to 'Show', @profile %> |
	<%= link_to 'Back', profiles_path %>
</div>