@import "bootstrap";

* {
	box-sizing:border-box;
}

body {
	font-family: Arial;
	padding: 20px;
	background: #f1f1f1;
}

.header {
	padding: 30px;
	font-size: 40px;
	text-align: center;
	background: white;
}


.leftcolumn {
	float: left;
	width: 25%;
	padding-right: 5px;
	padding-left: 18px;
}

.drop-item {
	padding-right: 40px;
	margin: 0 auto;
	text-align: center;
	list-style-type: none;
}

.rightcolumn {
	float: right;
	width: 75%;
	padding-left: 20px;
	padding-right: 20px;
}

.bottomcolumn {
	width: 50%;
	float: right;
	margin: 0 auto;
	padding-bottom: 40px;
	padding-top: 40px;	 
}

.middlecolumn {
	width: 100%;

}

.view-article {
	margin: 0 auto;
	width: 80%;
}

.container1 {
	width: 100%;
}

.container-table {
	width: 60%;
	margin: 0 auto;

}


.buttons-btm {
	margin: 10px;
	padding: 10px;
}

.category-name-listing {
	list-style: none;
}

.categories-title {
	border-bottom: solid;
	border-color: black;
}


.card {
	background-color:white;
	padding: 20px;
	margin-top: 20px;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.article-title {
	font-weight: bold;
	border-bottom: 0.15rem solid;
	border-color: black;
}

.article-body {
	padding-top: 15px;
	padding-bottom: 15px;

}

.article-body-distance {
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	text-align: center;
}

.description {
	border-bottom: 0.1rem solid;
	border-color: black;

}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

.notice {
	color: #00529B;
	background-color: #BDE5F8;
}

@media screen and (max-width: 800px){
	.leftcolumn, .rightcolumn {
	width: 100%;
	padding: 0;
	}

}